body {
    margin: 0;
    padding: 0;
    height: 100vh;     background-color: #f8f9fa; 
    background-image: url('https://wallpapercave.com/wp/wp2595588.jpg'); 
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
color: #ffffff; 
}
