body {
    margin: 0;
    padding: 0;
      background-color: #f8f9fa; 
    background-image: url('https://wallpaperbat.com/img/9938-health-care-medical-wallpaper-top-free-health-care-medical.jpg    '); 
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
color: #ffffff; 
}